.logintext {
    color: rgb(42, 49, 46);
    font-size: 70px;
    background-color: rgb(240, 240, 240);
     box-shadow: 6px 6px 6px;
     box-sizing: border-box;
     
}
.logintext:hover{
    animation:  shadowPulse 3s ;

    cursor: pointer;
}
body{
background-image: url(https://media1.tenor.com/m/rgJleMzUa8MAAAAd/bailes.gif);
}
.input{
    background-color: antiquewhite;
    font-family: monospace;
    position: absolute;
width: 300px;
}
.buttonclass{
    position: absolute;
    right: 640px;
    top: 140px;
    height: 30px;
    background-color: aqua;
    display: inline-block;
}
.buttonclass:hover{
animation: buttonanimation 2s;
}








@keyframes buttonanimation{
    0% {
     background-color: aqua;
    }
    50% {
     background-color: rgb(0, 255, 145);
    }
}






@keyframes shadowPulse {
    0% {
        color: black;
  box-shadow: 6px 6px 6px
    
    }
    50% {
        color: rgb(26, 255, 0);
        box-shadow: 10px 10px 10px
        

    }

}
